<%- content_for :head do -%>
  <%= stylesheet_link_tag "users" %>
<%- end -%>

<%- content_for :title do -%>
  Your Account
<%- end -%>

<%= form_for @user, :html => { :multipart => true, :class => "piece" } do |f| %>
  <%= f.error_messages :header_message => false, :message => false %>
  
  <%= hidden_field_tag :user_credentials, params[:user_credentials] %>
  
  <label>
    <span>First name:</span>
    <%= f.text_field :first_name %>
  </label>
  
  <label>
    <span>Last name:</span>
    <%= f.text_field :last_name %>
  </label>
  
  <label>
    <span>Email:</span>
    <%= f.text_field :email %>
  </label>

  <label>
    <span>Password:</span>
    <%= f.password_field :password, :autocomplete => "off" %>
  </label>
  
  <label>
    <span>Password again:</span>
    <%= f.password_field :password_confirmation, :autocomplete => "off" %>
  </label>
  
  <label>
    <span>Avatar:</span>
    <%= f.file_field :avatar %>
    <%= image_tag @user.avatar.url(:thumb), :class => "avatar" %>
  </label>
  
  <footer>
    <button class="right">Save</button>
  </footer>
<% end %>