<%- content_for(:head) do %>
  <style type="text/css" media="screen">
    #inner {
      width: 560px;
    }
  </style>
<% end %>

<h1>You've been invited to '<%= @channel.name %>'</h1>

<%- if logged_in? %>
  <%= form_tag %><button>Accept invitation</button></form>
<% else %>
  <p>Sombody has sent you an invitation to a channel called '<%= @channel.name %>' on <%= app_name %>.</p>
  
  <p><%= app_name %> is a group chat application for your business. Learn more <%= link_to "here", :controller => "pages", :action => "more" %>.</p>

  <p>To accept the invitation, please <%= link_to "login", login_path %> or <%= link_to "register", register_path %>.</p>
<% end %>