<script type="text/javascript" charset="utf-8">
  function isImageUrl(str) {
    var exts = ["jpg", "jpeg", "gif", "png"];
    if(str.indexOf("http://") == 0) {
      for(var x=0; x <= exts.length; x++) { 
        if (str.indexOf(exts[x]) != -1) {return true;} 
      }
    }
    return false;
  }
</script>

<div id="wrapper">
  <div id="sidebar">
    <h3>Channels</h3>
    <ul id="channels">
    </ul>
  
    <h3>Options</h3>
    <ul id="options">
      <li data-name="settings">Settings</li>
    </ul>
    
    <h3>Search</h3>
    <input type="search" results="0" incremental="true" placeholder="Search">
  </div>
  
  <div class="vdivide"></div>

  <div id="content">
    <div id="messages">
      <ul class="items">
      </ul>
      
      <div class="new">
        <textarea></textarea>
        <button>Send</button>
      </div>
    </div>
    
    <div id="searches">
      <h2>Search results: <span class="query"></span></h2>
      <ul class="items"></ul>
    </div>
    
    <div id="settings">
      <h2>Channels</h2>
      <ul class="channels">    
      </ul>
      
      <h2>Create Channel</h2>
      <div class="createChannel">
        <form>
          <input type="text" placeholder="Channel name">
          <button class="pill">New Channel</button>
        </form>
      </div>

      <h2>Profile</h2>

      <div><%= link_to "Logout", logout_path %></div>
    </div>
  </div>
</div>

<%= script_template "message" %>
<%= script_template "channels" %>
<%= script_template "edit_channel" %>
<%= script_template "search" %>
