<!DOCTYPE html>
<html>
<head>
  <title>Holla</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
  <%= meta_tag "handle", current_user %>
  <%= javascript_include_tag :juggernaut, "application" %>
</head>
<body>
  <header id="title">
    <h1>Holla</h1>    
  </header>
  
  <div id="wrapper">
    <div id="sidebar">
      <h3>Channels</h3>
      <ul id="channels">
      </ul>
    
      <h3>Options</h3>
      <ul id="options">
        <li data-name="settings">Settings</li>
      </ul>
      
      <h3>Search</h3>
      <input type="search" results="0" incremental="true" placeholder="Search">
    </div>
    
    <div class="vdivide"></div>
  
    <div id="content">
      <div id="messages">
        <ul class="items">
        </ul>
        
        <div class="new">
          <textarea></textarea>
          <button>Send</button>
        </div>
      </div>
      
      <div id="searches">
        <h2>Search results: <span class="query"></span></h2>
        <ul class="items"></ul>
      </div>
      
      <div id="settings">
        <h2>Channels</h2>
        <ul class="channels">    
        </ul>
        
        <h2>Create Channel</h2>
        <div class="createChannel">
          <form>
            <input type="text" placeholder="Channel name">
            <button class="pill">New Channel</button>
          </form>
        </div>

        <h2>Profile</h2>

        <div><%= link_to "Logout", logout_path %></div>
      </div>
    </div>
  </div>
  
  <%= script_template "message" %>
  <%= script_template "channels" %>
  <%= script_template "edit_channel" %>
  <%= script_template "search" %>
</body>
</html>