<!DOCTYPE html>
<% app_title = "Holla" %>
<html>
<head>
  <title><%= app_title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
  <%= meta_tag "handle", current_user %>
  <%= javascript_include_tag :juggernaut, "application", "http://timeago.yarp.com/jquery.timeago.js" %>
</head>
<body>
  <header id="title">
    <h1><%= app_title %></h1>    
  </header>
<%= yield %>
</body>
</html>
