<!DOCTYPE html>
<html>
<head>
  <title><%= AppConfig.app_name %></title>
  <%= stylesheet_link_tag "layout", "backend" %>
  <%= javascript_include_tag "jquery", "rails" %>
  <%= csrf_meta_tag %>
  
  <%= yield :head %>
</head>
<body>
  <div id="wrapper">
    <header id="title">
      <h1><%= link_to AppConfig.app_name, root_path %></h1>
      <%= yield :header %>
    </header>
    
    <div id="inner">
      <%= yield :inner %>
      <div id="content">

        <%= yield %>
      
      </div> <!-- /#content -->
    </div> <!-- /#inner -->
  </div> <!--- /#wrapper -->
</body>
</html>
